node-red/flows_Anthonys-MacBook-Pro.local.json
[{"id":"25ca0759.da35f8","type":"tab","label":"Flow 1"},{"id":"a0121cff.5fede","type":"tab","label":"Flow 2"},{"id":"60917855.9f6e88","type":"tab","label":"Flow 3"},{"id":"78b6d68a.874928","type":"chatbot-telegram-node","z":"25ca0759.da35f8","botname":"enoRMITy_bot","usernames":"AnthonyRawlins"},{"id":"737944a.f8c86bc","type":"chatbot-telegram-node","z":"25ca0759.da35f8","botname":"enoRMITy_bot","usernames":"AnthonyRawlins"},{"id":"e78233b8.187dd","type":"chatbot-slack-node","z":"25ca0759.da35f8","botname":"enoRMITy_bot","usernames":"s3392244"},{"id":"11a14cc7.ee5eb3","type":"chatbot-slack-node","z":"25ca0759.da35f8","botname":"enormity","usernames":"s3392244"},{"id":"1c1d610b.e3e29f","type":"dropbox-config","z":"a0121cff.5fede"},{"id":"934c62db.6cb3a","type":"websocket-listener","z":"a0121cff.5fede","path":"/ws","wholemsg":"false"},{"id":"f67c8627.098378","type":"websocket-listener","z":"a0121cff.5fede","path":"/ws/chat","wholemsg":"false"},{"id":"de591c7c.21a6e","type":"debug","z":"25ca0759.da35f8","name":"Debug","active":true,"console":"false","complete":"payload","x":442.5,"y":486,"wires":[]},{"id":"d1d5f187.2e2a1","type":"chatbot-telegram-receive","z":"25ca0759.da35f8","bot":"78b6d68a.874928","x":465,"y":48,"wires":[["660c9a42.99f364"]]},{"id":"d67053f5.298fb","type":"chatbot-telegram-send","z":"25ca0759.da35f8","bot":"78b6d68a.874928","x":463.5,"y":390,"wires":[["de591c7c.21a6e"]]},{"id":"660c9a42.99f364","type":"chatbot-conversation","z":"25ca0759.da35f8","name":"","chatId":"","x":453.5,"y":231,"wires":[["d67053f5.298fb"]]},{"id":"b5fbb27d.4a045","type":"chatbot-slack-receive","z":"25ca0759.da35f8","bot":"11a14cc7.ee5eb3","x":192.5,"y":146,"wires":[["4e77eb1.fb18814"]]},{"id":"2c7e6b22.d38194","type":"debug","z":"25ca0759.da35f8","name":"","active":true,"console":"false","complete":"false","x":171.5,"y":487,"wires":[]},{"id":"4e77eb1.fb18814","type":"chatbot-conversation","z":"25ca0759.da35f8","name":"","chatId":"","x":189.5,"y":232,"wires":[["3bb8f0a8.c4471"]]},{"id":"3bb8f0a8.c4471","type":"chatbot-slack-send","z":"25ca0759.da35f8","bot":"11a14cc7.ee5eb3","x":173.5,"y":393,"wires":[["2c7e6b22.d38194"]]},{"id":"9873c37d.678c4","type":"comment","z":"25ca0759.da35f8","name":"Default echo only flow","info":"This just demonstrates tying the APIs of Slack and Telegram together to repond to user input. Relies on the Client apps atm.","x":206.5,"y":62,"wires":[]},{"id":"25b3edb5.da4c12","type":"dropbox in","z":"a0121cff.5fede","dropbox":"1c1d610b.e3e29f","filepattern":"*-enormity.*","name":"Watched enoRMITy file in DropBox","x":169.5,"y":123,"wires":[["f68011d4.097ff"]]},{"id":"f68011d4.097ff","type":"dropbox","z":"a0121cff.5fede","dropbox":"1c1d610b.e3e29f","filename":"by_name-enormity.json","name":"RMIT Staff by Name","x":471,"y":81,"wires":[["22b2c38f.dd4d3c"]]},{"id":"5010be9d.afef4","type":"inject","z":"a0121cff.5fede","name":"Import...","topic":"importing","payload":"{\"import\":\"true\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":105.5,"y":54,"wires":[["f68011d4.097ff"]]},{"id":"37a4b9f1.c85b46","type":"couchdb","z":"a0121cff.5fede","name":"Get Contacts from CouchDB","serverUrl":"http://127.0.0.1:5984/","database":"scraping","retrievalType":"byView","designDoc":"named","viewName":"byName","x":199.5,"y":550,"wires":[["a0ee9e6a.5f116"]]},{"id":"3d2f3a34.c2d0c6","type":"debug","z":"a0121cff.5fede","name":"","active":true,"console":"false","complete":"true","x":127.5,"y":671,"wires":[]},{"id":"22b2c38f.dd4d3c","type":"json","z":"a0121cff.5fede","name":"","x":431.5,"y":143,"wires":[["b9371481.46c8e8"]]},{"id":"b9371481.46c8e8","type":"splitter","z":"a0121cff.5fede","name":"each row","property":"payload.rows","x":436.5,"y":207,"wires":[["32e53be3.cd1ac4"]]},{"id":"3a773c24.c588c4","type":"debug","z":"a0121cff.5fede","name":"EachRowOut","active":false,"console":"false","complete":"true","x":623.5,"y":276,"wires":[]},{"id":"53f84a3.fac07b4","type":"template","z":"a0121cff.5fede","name":"Set _id to Name","field":"_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{Name}}","x":823.5,"y":508,"wires":[["a39e34fd.5c61c8","b8448f49.47bb7"]]},{"id":"32e53be3.cd1ac4","type":"function","z":"a0121cff.5fede","name":"","func":"\nreturn msg.payload;","outputs":1,"noerr":0,"x":429.5,"y":262,"wires":[["1d0aa56c.e2f55b"]]},{"id":"1d0aa56c.e2f55b","type":"json","z":"a0121cff.5fede","name":"as JSON","x":436.5,"y":315,"wires":[["3a773c24.c588c4","ffacd67a.005328"]]},{"id":"a39e34fd.5c61c8","type":"debug","z":"a0121cff.5fede","name":"Watch Insertions","active":true,"console":"false","complete":"true","x":1094.5,"y":545,"wires":[]},{"id":"ffacd67a.005328","type":"switch","z":"a0121cff.5fede","name":"_id exists?","property":"_id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":619.5,"y":380,"wires":[["b8448f49.47bb7"],["53f84a3.fac07b4"]]},{"id":"b8448f49.47bb7","type":"switch","z":"a0121cff.5fede","name":"","property":"_rev","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":1136.5,"y":451,"wires":[["5f86ab25.a07954"],["778637bf.8879c8","dd3323e6.22cce"]]},{"id":"7e11f2ac.81ee0c","type":"couchdbinsert","z":"a0121cff.5fede","name":"","serverUrl":"http://127.0.0.1:5984","database":"scraping","x":1543.5,"y":628,"wires":[]},{"id":"5f86ab25.a07954","type":"template","z":"a0121cff.5fede","name":"Confirm the _rev","field":"_rev","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{_rev}}","x":1362.5,"y":428,"wires":[["778637bf.8879c8","dd3323e6.22cce"]]},{"id":"778637bf.8879c8","type":"debug","z":"a0121cff.5fede","name":"","active":false,"console":"false","complete":"true","x":1691.5,"y":447,"wires":[]},{"id":"bedd2ef3.4122d","type":"comment","z":"a0121cff.5fede","name":"README","info":"This flow imports stored contact data from Dropbox either manually by pushing the import button or by monitoring Dropbox for changes.","x":91.5,"y":181,"wires":[]},{"id":"dd3323e6.22cce","type":"template","z":"a0121cff.5fede","name":"Reformat","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"title\":      \"{{Title}}\",\n    \"position\":   \"{{Position}}\",\n    \"name\":       \"{{Name}}\",\n    \"prefName\":   \"{{Prefname}}\",\n    \"surname\":    \"{{Surname}}\",\n    \"email\":      \"{{Email}}\",\n    \"phone\":      \"+61 3 992{{Phone}}\",\n    \"link\":       \"{{Hyperlink}}\",\n    \"schoolDept\": \"{{SchoolDepartment}}\",\n    \"college\":    \"{{CollegePortfolio}}\",\n    \"supervises\": \"{{ResearchSupervisior}}\",\n    \"interests\":  \"{{ResearchInterests}}\",\n    \"campus\":     \"{{Campus}}\"\n}","x":1530.5,"y":508,"wires":[["778637bf.8879c8","af596622.50a698"]]},{"id":"af596622.50a698","type":"json","z":"a0121cff.5fede","name":"","x":1527.5,"y":565,"wires":[["7e11f2ac.81ee0c"]]},{"id":"a0ee9e6a.5f116","type":"template","z":"a0121cff.5fede","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":131.5,"y":615,"wires":[["3d2f3a34.c2d0c6","10327636.efcd8a"]]},{"id":"84493609.7bb6c8","type":"http in","z":"a0121cff.5fede","name":"","url":"/contacts","method":"get","swaggerDoc":"","x":133.5,"y":483,"wires":[["37a4b9f1.c85b46"]]},{"id":"10327636.efcd8a","type":"http response","z":"a0121cff.5fede","name":"Response","x":336.5,"y":642,"wires":[]},{"id":"422b557c.bdd4ac","type":"http response","z":"60917855.9f6e88","name":"","x":657.5,"y":124,"wires":[]},{"id":"328eeeba.cd7112","type":"http in","z":"60917855.9f6e88","name":"","url":"/vcardexample","method":"get","swaggerDoc":"","x":142.5,"y":113,"wires":[["9811b944.67ee48"]]},{"id":"9811b944.67ee48","type":"http request","z":"60917855.9f6e88","name":"GET Doc with the _id","method":"GET","ret":"obj","url":"http://127.0.0.1:5984/scraping/cf7d28c66219a0d6d13680524224912f","tls":"","x":407.5,"y":115,"wires":[["422b557c.bdd4ac"]]}]